.img {
	height: 297px;
	width: 1366px;
}

.c1 {
	margin-left: 12px;
}
	
.c2 {
	margin-left: 10px;
}

.c3 {
	margin-left: 12px;
}

.c4 {
	margin-left: 12px;
}

.pierre {
	margin-left: 10px;
}

.c5 {
	margin-left: 10px;
}

.c6 {
	margin-left: 12px;
}

.c7 {
	text-align: center;
}

.c8 {
	margin-left: 445px;
}

.c9 {
	margin-left: 12px;
}

.c10 {
	margin-left: 10px;
}
s
.c11 {
	margin-left: 12px;
}

.c12 {
	margin-left: 12px;
}

.c13 {
	margin-left: 10px;
}

.c14 {
	margin-left: 10px;
}

.c15 {
	margin-left: 12px;
}

.c16 {
	margin-left: 440px;
}